{% extends 'base.html' %}

{% block title %}
    <link rel=\"stylesheet\" href=\"{{ url_for('static', filename='css/main.css')}}\">
{% endblock %}

{% block content %}
<div class="dados">
    <img src="{{ url_for('static', filename='images/Agency.jpg')}}" alt="agência" width="200" height="200">
    <h1>Gestão de Agência</h1>
    <br>
    <button type="button" {{butshow}} onclick="window.location.href='/Agency?option=edit'" class="button1">Editar</button>
    <button type="button" {{butshow}} onclick="window.location.href='/Agency?option=insert'" class="button1">Inserir</button>
    <button type="submit" form="form" {{butedit}} class="button1">Guardar</button>
    <button type="button" {{butedit}} onclick="window.location.href='/Agency?option=cancel'" class="button1">Cancelar</button>
    
    <form id="form" action="/Agency?option=save" method="post">
        <label>Id:</label>
        <input type="text" name="id" value="{{id}}" readonly size="5">
        <br><br>
        <label>Nome:</label>
        <input type="text" {{butedit}} name="name" value="{{name}}" size="30">
    </form>
    
    <br>
    <button {{butshow}} onclick="window.location.href='/Agency?option=first'">Primeiro</button>
    <button {{butshow}} onclick="window.location.href='/Agency?option=previous'">Anterior</button>
    <button {{butshow}} onclick="window.location.href='/Agency?option=next'">Seguinte</button>
    <button {{butshow}} onclick="window.location.href='/Agency?option=last'">Último</button>
</div>
{% endblock %}